body {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
  }
 
 .btn-rounded-white {
    border-radius: 50px; /* sets the border radius to make the button rounded */
    background-color: #ffffff; /* sets the background color to white */
    color: #2A1B3C; /* sets the text color to black */
 }
 
 .hero {
    background: linear-gradient(#2A1B3C, #44318D);
 
 }
 
 form {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .tab-content{
    border-radius: 50px;
 }
 
 .tab-content,
 .tab-pane {
    color: black;
 }
  
 #flightsButton {
    margin-top: 10px;
 }
  
 .navbar-dark .navbar-nav .nav-link {
    color: #fff; /* sets the color of the links in the navbar */
 }
  
 .navbar-dark .navbar-nav .nav-link:hover,
 .navbar-dark .navbar-nav .nav-link:focus {
    color: #ccc; /* sets the color of the links when hovered or focused */
 }
  
 .navbar-dark .navbar-brand {
    color: #fff; /* sets the color of the brand text in the navbar */
 }
  
 .navbar-dark .navbar-toggler-icon {
    background-color: #fff; /* sets the color of the toggler icon */
 }
  
 .navbar {
    background-color: #2A1B3C !important; /* sets the background color of the navbar to #2A1B3C */
 }
/*  
 .about{
    background-color: #fff;
 }

 
   */
/* 
.flights-lists{
   margin-top: 10px;
} */

 footer{
    background-color: #44318D;
 }